{% extends "default.html.twig" %}

{% block title %}IFÀ | Conversation entre {{ participants.FirstName1 }} {{ participants.LastName1 }} et {{ participants.FirstName2 }} {{ participants.LastName2 }}{% endblock %}

{% block stylesheet %}
<link href="/../public/css/conversationChat.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="chat" id="chat">
    <div id="messages">
        {% for ConversationMessages in convChat %}
        <div class="head {% if ConversationMessages.IdSender != userId %}left {% endif %}">
            <a href="/profile-{{ConversationMessages.IdSender}}">
                {% if ConversationMessages.ProfilPicture == null %}
                <img class="icon" src="/../public/image/user.png" alt="profile picture">
                {% else %}
                <img class="icon" src="data:image;base64,{{ ConversationMessages.ProfilPicture }}" alt="profile picture">
                {% endif %}
            
                {% if ConversationMessages.IsPro == 1 %}
                <div class="pro">
                    <h2>{{ ConversationMessages.FirstName }} {{ ConversationMessages.LastName }}</h2> 
                    <i id="certifIcon" class="fas fa-check-circle"></i>
                </div>
                {% else %}
                <div class="notpro">
                    <h2>{{ ConversationMessages.FirstName }} {{ ConversationMessages.LastName }}</h2>
                </div>
                {% endif %}
            </a>
            <span>{{ ConversationMessages.CreatedAt }}</span>
        </div>
        <p class="{% if ConversationMessages.IdSender == userId %}right {% endif %}">{{ ConversationMessages.ContentMessages }}</p>
        {% endfor %}
    </div>
    <div id="scroll-target"></div><!--permet de scroll jusqu'ici avec js-->

    {% if convChat is not empty %}
    <form action="/conversationChat-{{ convChat[0].IdConversations }}" method="post" class="poster">
        <textarea name="messageContent" placeholder="Écrivez votre message ici..." required></textarea>
        <input type="hidden" name="IdConversations" value="{{ convChat[0].IdConversations }}">
        <button type="submit" name="message">Envoyer</button>
    </form>
    {% endif %}
</div>

<button class="out"><a href="/conversation">Retour aux conversations</a></button>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/ScrollDownMessage.js"></script>
<script src="/../public/js/loadFunctions.js"></script>
{% endblock %}
