{% extends "default.html.twig" %}

{% block stylesheet %}
<link href="/projet/src/public/css/header.css" rel="stylesheet">
<link href="/projet/src/public/css/index.css" rel="stylesheet">
{% endblock %}

{% block header %}
    <div class = "top">
        <div class="top-logo">
            <a href ="/projet/src/index.php/" class="top-logo">
                <img src="/projet/src/public/image/logo2.png" alt="logo du site" id="logo">
            </a>
        </div>

        <div class="searchBox">
            <input class="searchInput" type="text" name="" placeholder="Search something">
            <a href = "#" >
                <button class="searchIcon">
                    <img src="/projet/src/public/image/icon/loupe2.png" alt="icon" class="search-icon">
                </button>
            </a>
        </div>


        {% if isConnected %}
        <div class="bottom-pfp">
            <div>
                <form action="/projet/src/index.php/" method="post">
                    <button class="Btn" type="submit" name="logOut" id="logout">
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                            </svg>
                        </div>
                        <div class="text2">Deconnexion</div>
                    </button>
                </form>
            </div>
            <div class= "user-infos">
                    <!-- src="data:image;base64,{{user.ProfilPicture}}" -->
                <a href="/projet/src/index.php/profile-{{ userId }}" id="profile">
                    <img class="user-picture" src="data:image;base64,{{ userPfp }}" alt="profile picture">
                </a>
                <div class="profile-info">
                    <!-- <p>{{ userFirstName }} {{ userLastName }}</p> -->
                </div>
            </div>
        </div>
            
        {% else %}
        <div>
            <a href="/projet/src/index.php/login" class = "no">
                <button class="Btn3" id="login">
                    Connexion
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </a>
        </div>
        {% endif %}
    </div>




    <aside class="left-sidebar">
        

        <div class="functionality-list">
            <a href = "/projet/src/index.php/" class = "no">
                <button class="func-icon">
                    <img src="/projet/src/public/image/icon/home.png" alt="icon" class="icons">
                    <div class="text">Home</div>
                </button>
            </a>
            <a href = "#" class = "no">
                <button class="func-icon">
                    <img src="/projet/src/public/image/icon/loupe.png" alt="icon" class="icons">
                    <div class="text">Search</div>
                </button>
            </a>
            {% if isConnected %}
            <a href = "#" class = "no">
                <button class="func-icon">
                    <img src="/projet/src/public/image/icon/message.png" alt="icon" class="icons">
                    <div class="text">Message</div>
                </button>
            </a>
            {% if isConnected %} <!-- isPro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa-->  
            <button class="func-icon" id="openModalButton">
                <img src="/projet/src/public/image/icon/post.png" alt="icon" class="icons">
                <div class="text">Post</div>
            </button>
            {% endif %}
            <a href = "#" class = "no">
                <button class="func-icon" >
                    <img src="/projet/src/public/image/icon/saved.png" alt="icon" class="icons">
                    <div class="text">Saved Post</div>
                </button>
            </a>
            <a href = "#" class = "no">
                <button class="func-icon" >
                    <img src="/projet/src/public/image/icon/notif.png" alt="icon" class="icons">
                    <div class="text">Notification</div>
                </button>
            </a>
            <a href = "#" class = "no">
                <button class="func-icon" >
                    <img src="/projet/src/public/image/icon/3dots.png" alt="icon" class="icons">
                    <div class="text">Other</div>
                </button>
            </a>
            <a href = "#" class = "no">
                <button class="func-icon" >
                    <img src="/projet/src/public/image/icon/setting.png" alt="icon" class="icons">
                    <div class="text">Settings</div>
                </button>
            </a>
            {% endif %}
            
            {% if isConnected %} 
            <a href = "/projet/src/index.php/profile-{{ userId }}" class = "no">
            {% else %}
            <a href = "/projet/src/index.php/login" class = "no">
            {% endif %}
                <button class="func-icon">
                    <img src="/projet/src/public/image/icon/user.png" alt="icon" class="icons">
                    <div class="text">Profil</div>
                </button>
            </a>
            <!-- Ajoutez plus de boutons ici -->
        </div>

        <div class = "support">
            <a href = "#" class = "no">
                <button class="func-icon" >
                    <img src="/projet/src/public/image/icon/support.png" alt="icon" class="icons">
                    <div class="text">Support</div>
                </button>
            </a>
        </div>
        




        
    </aside>
    <!-- 

    <aside class="right-sidebar">
        
        <div class="suggestions">
            <h2>Tendances</h2>
            {% for post in trending_posts %}
            <div class="post">
                <div class="post-title">
                    <b>{{ post.title }}</b>
                    <p>{{ post.time_ago }}</p>
                </div>
                <div class="post-stat">
                    <p>{{ post.likes }} likes</p>
                    <p>{{ post.views }} views</p>
                </div>
            </div>
            {% endfor %}
           
        </div>
        {% if isConnected %} 
        <div class="bottom-messages">
            <button>Messages</button>
        </div>
        {% endif %}
    </aside>

-->



    {% if isConnected %}
    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/projet/src/index.php/" method="post" id="formAddPost" enctype="multipart/form-data">
                <input type="text" name="TitlePost" placeholder="TitlePost" class="inputField" required>

                <textarea name="ContentPost" placeholder="ContentPost" class="inputFieldDesc" required></textarea>

                <input type="file" id="images" name="PicturePost[]" multiple accept="image/*"
                    onchange="validateFiles(this)">

                <button type="submit" name="addPost" class="inputField2">Add Post</button>
            </form>
        </div>
    </div>
    {% endif %}
    
    



 
{% endblock %}

{% block scripts %}
<script src="/projet/src/public/js/modalUser.js"></script>
{% endblock %}