{% extends 'default.html.twig' %}

{% block title %}home{% endblock %}

{% block stylesheet %}
<link href="/projet/src/public/css/home.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <section class="feed">

            


            <div class="list_post">
                {% for Post in postData |reverse%}
                <div class="post">
                    <div class="post-header">
                        <img class="user-picture" src="data:image;base64,{{ Post.ProfilPicture }}" alt="profile picture">
                        <div class="user-info">
                            <h3>{{ Post.FirstName }} {{ Post.LastName }}</h3>
                            <p>{{ Post.RelativeDatePost }}</p>
                        </div>
                    </div>
                    <div class="contentPost">
                        <!-- <h2>{{ Post.TitlePost }}</h2>  -->
                        <p>
                            {% set contentLines = Post.ContentPost | split("\n") %}
                            {% for i in 0..2 %}
                            {{ contentLines[i] }}<br>
                            {% endfor %}
                            <a href="/projet/src/index.php/post-{{ Post.IdPost }}" id="profile" class ="LinkMore">
                                <img src="/projet/src/public/image/icon/3dots.png"  class="More">
                            </a>
                        </p>
                    </div>
                    <div class="swipe">
                        {% if Post.PicturesPost|length > 1  %}
                        <a class="swipe-control-prev" href="#" role="button">
                            <span class="swipe-control-prev-icon" aria-hidden="true">&lt;</span>
                        </a>
                        {% endif %}
                        <div class="swipe-inner">
                            {% for picture in Post.PicturesPost %}
                            <div class="swipe-item {% if loop.first %}active{% endif %}">
                                <img class="ImagePost" src="data:image;base64,{{ picture }}">
                            </div>
                            {% endfor %}
                        </div>
                        {% if Post.PicturesPost|length > 1  %}
                        <a class="swipe-control-next" href="#" role="button">
                            <span class="swipe-control-next-icon" aria-hidden="true">&gt;</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {% if isConnected %}
    <div id="profileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="/projet/src/index.php/" method="post" id="formAddPost" enctype="multipart/form-data">
                <input type="text" name="TitlePost" placeholder="Titre du Post" class="inputField" required>

                <textarea name="Content Post" placeholder="Content Post" class="inputFieldDesc" required></textarea>

                <input type="file" id="images" name="PicturePost[]" multiple accept="image/*"
                    onchange="validateFiles(this)" class = "pictures_post_selector">

                <button type="submit" name="addPost" class="inputField2">Add Post</button>
            </form>
        </div>
    </div>
    {% endif %}


{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/projet/src/public/js/modalUser.js"></script>
<script src="/projet/src/public/js/viewMore.js"></script>
<script src="/projet/src/public/js/swipePicturePost.js"></script>
{% endblock %}

