{% extends "default.html.twig" %}

{% block title %}IFÀ | conseil{% endblock %}

{% block stylesheet %}
<link href="/../public/css/advice.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}

{% if errorMessages is not empty %}
<div class="alert">
    <ul>
        {% for message in errorMessages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/advice" method="post" id="formAdvice" enctype="multipart/form-data">
            <input type="text" name="AdviceType" placeholder="Titre, Sujet, Thème" id="inputField" required>
            <div style="position: relative;">
                <textarea name="AdviceDescription" placeholder="Description du service" id="inputFieldDesc"
                    required></textarea>
            </div>
            <div class="availability-section">
                <label>Disponibilités:</label>
                <label for="dayOfWeek">Jours:</label>
                <div>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Monday"> Lundi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Tuesday"> Mardi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Wednesday"> Mercredi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Thursday"> Jeudi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Friday"> Vendredi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Saturday"> Samedi</label>
                    <label><input type="checkbox" name="DaysOfWeek[]" value="Sunday"> Dimanche</label>
                </div>
                <label for="startTime">Heure de début:</label>
                <input type="time" name="StartTime" id="startTime" required>
                <label for="endTime">Heure de fin:</label>
                <input type="time" name="EndTime" id="endTime" required>
            </div>
            <input type="file" id="images" name="PictureAdvice[]" multiple accept="image/*"
                onchange="openCropperModal(this)">

            <button type="submit" name="addAdvice" id="inputField2">Soumettre la Consultation</button>
        </form>
    </div>
</div>

<div class="adviceContainer">
    <div class="top">
        <div class="search-add">
            <div class="searchBar">
                <form action="/advice" method="get" class="search-form">
                    <div class="group-search">
                        <input placeholder="Cherchez un nom, un titre" type="search" value="{{ searchQuery }}"
                            class="search" name="search"> <svg class="iconSearch" aria-hidden="true"
                            viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        </input>
                    </div>
                </form>
            </div>
        </div>
        {% if isConnected and isPro %}
        <div class="profilButton">
            <button id="openModalButton" class="beautiful-button">Ajouter une Consultation</button>
        </div>
        {% endif %}
    </div>
    {% for Advice in adviceData %}
    <div class="advice">
        <a href="profile-{{ Advice.IdUser }}">
            <div class="profilPictureName">
                {% if Advice.ProfilPicture == null %}
                <img class="user-picture" src="/../public/image/user.png" alt="profile picture">
                {% else %}
                <img class="user-picture" src="data:image;base64,{{Advice.ProfilPicture}}" alt="profile picture">
                {% endif %}
                <h2>{{ Advice.FirstName }} {{ Advice.LastName }}</h2>
                <i id="certifIcon" class="fas fa-check-circle"></i>
            </div>
        </a>
        <div class="promotion">
            <!--"acheter tes premières actions dans un monde en plein developpement et hyperactif dans la cryptographie "-->
            {% set text = Advice.ProfilPromotion %}
            {% set truncatedText = text|length > 60 ? text|slice(0, 60) ~ '...' : text %}
            {% set isTruncated = text|length > 60 %}
            <p class="truncated-text" data-full-text="{{ text }}">{{ truncatedText }}</p>
            <div class="hover-text"> {{ text }}</div>
        </div>

        {% if isConnected and (userId == Advice.IdUser or isAdmin) %}
        <form action="/advice" method="post" class="formDeleteAdvice">
            <button type="submit" name="deleteAdvice" id="deleteButton">
                <input type="hidden" name="IdAdvice" value="{{ Advice.IdAdvice }}">
                <div class="Delete">
                    <img src="/../public/image/bin.png" id="deleteImage">
                </div>
            </button>
        </form>
        {% endif %}

        <div class="adviceData">
            <h2>{{ Advice.AdviceType }} </h2>
            <p>{{ Advice.AdviceDescription }} </p>
            <ul>
                <p>Disponible :</p>
                <p>
                    {% set days = Advice.DaysOfWeek|split(',') %}
                    {% set translated_days = days|map(day =>
                    day == 'Monday' ? 'Lundi' :
                    (day == 'Tuesday' ? 'Mardi' :
                    (day == 'Wednesday' ? 'Mercredi' :
                    (day == 'Thursday' ? 'Jeudi' :
                    (day == 'Friday' ? 'Vendredi' :
                    (day == 'Saturday' ? 'Samedi' : 'Dimanche')))))
                    ) %}

                    {{ translated_days|join(', ') }}
                </p>
                <p>de {{ Advice.StartTime }} à {{ Advice.EndTime }}</p>
                <p></p>
                <p>prix : 10 €</p>
            </ul>

        </div>

        {% if Advice.PicturesAdvice|length > 0 %} <!-- user.Pictures -->
        <div class="swipe">
            {% if Advice.PicturesAdvice|length > 1 %}
            <button class="swipe-control-prev">
                <span class="swipe-control-prev-icon" aria-hidden="true">&lt;</span>
            </button>
            {% endif %}
            <div class="swipe-inner">
                {% for picture in Advice.PicturesAdvice %}
                <div class="swipe-item portrait active">
                    <img src="data:image/jpeg;base64,{{ picture }}">
                </div>
                {% endfor %}
            </div>
            {% if Advice.PicturesAdvice|length > 1 %}
            <button class="swipe-control-next">
                <span class="swipe-control-next-icon" aria-hidden="true">&gt;</span>
            </button>
            <div class="bullets">
                {% for i in 0..(Advice.PicturesAdvice|length - 1) %}
                <span class="bullet {% if i == 0 %}active{% endif %}"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}


        {% if isConnected and userId != Advice.IdUser %}
        <div class="BuyAdviceButton">
            <button data-modal-id="BuyAdviceModal-{{ Advice.IdAdvice }}" class="beautiful-button">Planifier une Consultation</button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% for Advice in adviceData %}
<div id="BuyAdviceModal-{{ Advice.IdAdvice }}" class="modal2">
    <div class="modal-content2">
        <span class="close2" data-modal-id="BuyAdviceModal-{{ Advice.IdAdvice }}">&times;</span>
        <form action="/advice" method="post" id="formAdvice-{{ Advice.IdAdvice }}" enctype="multipart/form-data">
            <label for="date">Date:</label>
            <input type="date" name="Date" id="date-{{ Advice.IdAdvice }}" required>

            <label for="startTime">Heure de début:</label>
            <input type="time" name="StartTime" id="startTime" required>
            <label for="endTime">Heure de fin:</label>
            <input type="time" name="EndTime" id="endTime" required>

            <input type="hidden" name="IdAdvice" value="{{ Advice.IdAdvice }}">

            <button type="submit" name="buyAdvice" id="inputField2">acheter le conseil</button>
        </form>
    </div>
</div>
{% endfor %}
<div id="imageModal" class="image-modal">
    <span class="close-image-modal">&times;</span>
    <img class="image-modal-content" id="img01">
    <div id="caption"></div>
</div>

<!-- Modal de découpe d'image -->
<div id="cropperModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCropperModal()">&times;</span>
        <div class="crop-container">
            <img id="imageToCrop" src="" alt="Image to crop">
        </div>
        <div class="crop-buttons">
            <button onclick="setAspectRatio(16 / 9)">Paysage (16:9)</button>
            <button onclick="setAspectRatio(3 / 4)">Portrait (3:4)</button>
            <button onclick="setAspectRatio(1)">Carré (1:1)</button>
            <button onclick="cropImage()">Validation</button>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
<script src="/../public/js/buyAdvice.js"></script>
<script src="/../public/js/modalImage.js"></script>
<script src="/../public/js/currentDate.js"></script>
<script src="/../public/js/swipePicturePost.js"></script>
<script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
<script src="/../public/js/ImageCrop.js"></script>
{% endblock %}