{% extends "default.html.twig" %}

{% block title %}IFÀ | conseil{% endblock %}

{% block stylesheet %}
<link href="/../public/css/advice.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="profilButton">
    <button id="openModalButton" class="beautiful-button">ajouter un conseil</button>
</div>

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/advice" method="post" id="formAdvice" enctype="multipart/form-data">
            <input type="text" name="AdviceType" placeholder="Titre, Sujet, Thème" id="inputField">

            <div style="position: relative;">
                <textarea name="AdviceDescription" placeholder="Description du service" id="inputFieldDesc"></textarea>
            </div>
            <button type="submit" name="addAdvice" id="inputField2">Soumettre le form</button>
        </form>
    </div>
</div>

<div class="adviceContainer">
    {% for Advice in adviceData %}
    <a href="profile-{{ Advice.IdUser }}">
        <div class="advice">
            <div class="profilPictureName">
                <img id="icon" src="data:image;base64,{{Advice.ProfilPicture}}" alt="icon">
                <h1>{{ Advice.FirstName }} {{ Advice.LastName }}</h1> <i id="certifIcon"
                    class="fas fa-check-circle"></i>
                <p>{{ Advice.ProfilPromotion }} </p>
            </div>
            <div class="adviceData">
                <p>{{ Advice.AdviceType }} </p>
                <p>{{ Advice.AdviceDescription }} </p>
                <p>prix = 10 €</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
{% endblock %}