{% extends "default.html.twig" %}

{% block title %}IFÀ | Profile de {{ user.FirstName }} {{ user.LastName }}{% endblock %}

{% block stylesheet %}
<link href="/../public/css/profile.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}



{% block body %}
{% if messages is not empty %}
<div class="alert">
    {% for message in messages %}
    <h1>{{ message }}</h1>
    {% endfor %}
</div>
{% endif %}


<div class="ProfilContainer">
    <div class="allprofil">
        <div class="profil">
            <div class="ProfilUser">
                {% if user.ProfilPicture == null %}
                <img id="icon" src="/../public/image/user.png" alt="icon">
                {% else %}
                <img id="icon" src="data:image;base64,{{user.ProfilPicture}}" alt="icon">
                {% endif %}

                {% if user.IsPro == 1 %}
                <div class="pro">
                    <h2>{{ user.FirstName }} {{ user.LastName }}</h2> <i id="certifIcon" class="fas fa-check-circle"></i>
                </div>
                {% else %}
                <div <div class ="notpro">
                    <h2>{{ user.FirstName }} {{ user.LastName }}</h2>
                </div>
                {% endif %}
                {% if isConnected and userId != user.IdUser %}
                <div class="message">
                    <form action="/profile-{{ user.IdUser }}" method="post">
                        <input type="hidden" name="idUser_1" value="{{ user.IdUser }}">
                        <button type="submit" name="conversation">
                            <img id="icon2" src="/../public/image/messenger.png" alt="icon">
                        </button>
                    </form>
                </div>
                {% endif %}    
            </div>
            <div class="EditButton">
                {% if isConnected and userId == user.IdUser %}
                {% if userId == user.IdUser and user.IsPro == 0 %}
                <div class="passProButton">
                    <button id="openModalButtonPro" class="beautiful-button">Passer Professionnel</button>
                </div>
                {% endif %}
                <div class="profilButton">
                    <button id="openModalButton" class="beautiful-button">Editer le Profil</button>
                </div>
                {% endif %}
            </div>
        </div>
    
    
        <div class="country">
            <p>Pays : {{ user.Location }}</p>
        </div>
        {% if user.IsPro == 1 %}
        <div class="promotion">  <!--"acheter tes premières actions dans un monde en plein developpement et hyperactif dans la cryptographie "-->
            <p>Je peux t'aider à {{ user.ProfilPromotion| nl2br }}</p><!--"temp car pas encore le champ dans bdd "-->
        </div> 
        {% endif %} 
        <div class="description">
            <p>{{ user.ProfilDescription | nl2br }}</p>
        </div>
    </div>

    {% if isConnected and userId == user.IdUser %}
    <div class="button-container">
        <button id="showPosts" class="beautiful-button">Voir les Publications</button>
        <button id="showFavorites" class="beautiful-button">Voir les Favoris</button>
    </div>
    {% endif %}


</div>

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/profile-{{ user.IdUser }}" method="post" id="formUpdateUser" enctype="multipart/form-data">
            <input type="text" name="FirstName" placeholder="Prénom" id="inputField">

            <input type="text" name="LastName" placeholder="Nom de famille" id="inputField">

            <input type="text" name="Location" placeholder="Localisation (ex: france, espagne, ...)" id="inputField">


            <div style="position: relative;">
                <textarea name="ProfilPromotion" placeholder="ProfilPromotion (ex: je peux t'aider à ...)" id="inputFieldPromotion"
                    maxlength="100"></textarea>
                <div id="charCount2" class="char-count">0/100</div>
            </div>

            <div style="position: relative;">
                <textarea name="ProfilDescription" placeholder="Description du profil" id="inputFieldDesc"
                    maxlength="255"></textarea>
                <div id="charCount" class="char-count">0/255</div>
            </div>

            

            <input type="file" id="images" name="ProfilPicture" onchange="openCropperModal(this)">

            <button type="submit" name="updateProfile" id="inputField2">Valider les changements</button>
        </form>
    </div>
</div>

<div class="modal2" id="ProModal">
    <div class="modal-content2">
        <span class="close2">&times;</span>
        <form action="/profile-{{ user.IdUser }}" method="post" id="formPassPro" enctype="multipart/form-data">
            <input type="text" name="Job" placeholder="Métier" id="inputField" required>
            <input type="text" name="Adress" placeholder="Adresse (ex: Lyon, Paris)" id="inputField" required>
            <input type="number" name="Age" placeholder="Age (minimum 18 ans)" min="18" id="inputField" required>

            <div style="position: relative;">
                <textarea name="Description" placeholder="Parcours, étude, pourquoi vouloir être pro, expérience"
                    id="inputFieldDesc2" required></textarea>
            </div>

            <label for="images" id="labelText">Carte d'identité recto :</label>
            <input type="file" id="images" name="identityCardRecto" accept="image/*" aria-label="Carte d'identité recto"
                required />

            <label for="images" id="labelText">Carte d'identité verso :</label>
            <input type="file" id="images" name="identityCardVerso" accept="image/*" aria-label="Carte d'identité recto"
                required />

            <label for="images" id="labelText">Photo d'identité :</label>
            <input type="file" id="images" name="UserPicture" accept="image/*" aria-label="Photo d'identité" required />

            <input type="hidden" name="idUser" value="{{ user.IdUser }}">

            <button type="submit" name="pushRequest" id="inputField2">Envoyer la demande</button>
        </form>
    </div>
</div>


<div class="profilPost">
    {% for Post in userPost %}
    <div class="post">
        <div class="user-info">
            <div class= "flex">
                {% if Post.ProfilPicture == null %}
                <img class="user-picture" src="/../public/image/user.png" alt="profile picture">
                {% else %}
                <img class="user-picture" src="data:image;base64,{{ Post.ProfilPicture }}" alt="profile picture">
                {% endif %}
                {% if userId == user.IdUser and user.IsPro == 0 %}
                <h2>{{ user.FirstName }} {{ user.LastName }}</h2>
                {% else %}
                <h2>{{ user.FirstName }} {{ user.LastName }}</h2> <i id="certifIcon" class="fas fa-check-circle"></i>
                {% endif %}
            </div>
            {% if isConnected and userId == user.IdUser %}
            <form action="/profile-{{ user.IdUser }}" method="post" class="formDeletePost">
                <button type="submit" name="deletePost" id="deleteButton">
                    <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                    <input type="hidden" name="idUser" value="{{ user.IdUser }}">
                    <div class="hover-text">
                        <img src="/../public/image/bin.png" id="deleteImage">
                    </div>
                </button>
            </form>
            {% endif %}
        </div>


        <div class="contentPost">
            <h2>{{ Post.TitlePost }}</h2>
            <p>
                {% set contentLines = Post.ContentPost | split("\n") %}
                {% if contentLines %}
                {% for i in 0..2 %}
                {% if contentLines[i] is defined %}
                {{ contentLines[i] }}<br>
                {% endif %}
                {% endfor %}
                {% endif %}
            <form action="/profile-{{ Post.IdUser }}" method="post">
                <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                <button type="submit" name="viewMore" class="beautiful-button">Voir Plus</button>
            </form>
            </p>
        </div>


        {% if Post.PicturesPost|length > 0 %} <!-- user.Pictures -->
        <div class="swipe">
            {% if Post.PicturesPost|length > 1 %}
            <button class="swipe-control-prev">
                <span class="swipe-control-prev-icon" aria-hidden="true">&lt;</span>
            </button>
            {% endif %}
            <div class="swipe-inner">
                {% for picture in Post.PicturesPost %}
                <div class="swipe-item {% if picture.format == 'landscape' %}landscape{% elseif picture.format == 'portrait' %}portrait{% else %}portrait{% endif %} {% if loop.first %}active{% endif %}">
                    <img class="icon" src="data:image;base64,{{ picture }}" alt="icon">
                </div>
                {% endfor %}
            </div>
            {% if Post.PicturesPost|length > 1 %}
            <button class="swipe-control-next">
                <span class="swipe-control-next-icon" aria-hidden="true">&gt;</span>
            </button>
            <div class="bullets">
                {% for i in 0..(Post.PicturesPost|length - 1) %}
                <span class="bullet {% if i == 0 %}active{% endif %}"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}


        {% if isConnected %}
        <div class="interaction">
            <form action="/profile-{{ user.IdUser }}" method="post">
                <input type="hidden" name="AddLike" value="1">
                <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                <button class="heart {% if Post.IsLike %}active{% endif %}" type="submit">
                    {% if Post.IsLike %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                </button>
                <span class="total-likes">{{ Post.TotalLikes }} J'aime</span>
            </form>
            <a href="/postDetail-{{Post.IdPost}}" >
                <img class="icon_commentaire" src="/../public/image/icon/message.png">
                <span class="commentCount">{{ Post.commentCount }}</span>
            </a>
            
            <form action="/profile-{{ user.IdUser }}" method="post">
                <input type="hidden" name="AddFavorite" value="1">
                <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                <button class="favorite {% if Post.IsFavorites %}active{% endif %}" type="submit">
                    {% if Post.IsFavorites %}
                    <i class="fas fa-star"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                </button>
            </form>
            <p class="datePost">{{ Post.RelativeDatePost }}</p>
            <p class="viewsPost">{{ Post.Views }} Vues</p>
        </div>
        {% else %}
        <div class="interaction">
            <button class="heart" disabled>
                <i class="far fa-heart"></i>
            </button>
            <span class="total-likes3">{{ Post.TotalLikes }} J'aime</span>
            <a href="/postDetail-{{Post.IdPost}}" >
                <img class="icon_commentaire" src="/../public/image/icon/message.png">
                <span class="commentCount">{{ Post.commentCount }}</span>
            </a>
            <button class="favorite" disabled>
                <i class="far fa-star"></i>
            </button>
            <p class="datePost">{{ Post.RelativeDatePost }}</p>
            <p class="viewsPost">{{ Post.Views }} Vues</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>



{% if isConnected and userId == user.IdUser %}
<div class="profilFavorites" style="display: none;">
    {% for Post in postFav %}
    <div class="post">
        <div class="user-info2">
            {% if Post.ProfilPicture == null %}
            <img class="user-picture" src="/../public/image/user.png" alt="profile picture">
            {% else %}
            <img class="user-picture" src="data:image;base64,{{ user.ProfilPicture }}" alt="profile picture">
            {% endif %}
            {% if userId == user.IdUser and user.IsPro == 0 %}
            <h2>{{ user.FirstName }} {{ user.LastName }}</h2>
            {% else %}
            <h2>{{ user.FirstName }} {{ user.LastName }}</h2> <i id="certifIcon" class="fas fa-check-circle"></i>
            {% endif %}
        </div>


        <div class="contentPost">
            <h2>{{ Post.TitlePost }}</h2>
            <p>
                {% set contentLines = Post.ContentPost | split("\n") %}
                {% if contentLines %}
                {% for i in 0..2 %}
                {% if contentLines[i] is defined %}
                {{ contentLines[i] }}<br>
                {% endif %}
                {% endfor %}
                {% endif %}

            <form action="/profile-{{ Post.IdUser }}" method="post">
                <input type="hidden" name="idPost" value="{{ Post.IdPost }}">
                <button type="submit" name="viewMore" class="beautiful-button">Voir Plus</button>
            </form>
            </p>
        </div>
        {% if Post.PicturesPost|length > 0 %} <!-- user.Pictures -->
        <div class="swipe">
            {% if Post.PicturesPost|length > 1 %}
            <button class="swipe-control-prev">
                <span class="swipe-control-prev-icon" aria-hidden="true">&lt;</span>
            </button>
            {% endif %}
            <div class="swipe-inner">
                {% for picture in Post.PicturesPost %}
                <div class="swipe-item {% if picture.format == 'landscape' %}landscape{% elseif picture.format == 'portrait' %}portrait{% else %}portrait{% endif %} {% if loop.first %}active{% endif %}">
                    <img class="icon" src="data:image;base64,{{ picture }}" alt="icon">
                </div>
                {% endfor %}
            </div>
            {% if Post.PicturesPost|length > 1 %}
            <button class="swipe-control-next">
                <span class="swipe-control-next-icon" aria-hidden="true">&gt;</span>
            </button>
            <div class="bullets">
                {% for i in 0..(Post.PicturesPost|length - 1) %}
                <span class="bullet {% if i == 0 %}active{% endif %}"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% if isConnected %}
        <div class="interaction">
            <form action="/profile-{{ Post.IdUser }}" method="post">
                <input type="hidden" name="AddLike" value="1">
                <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                <button class="heart {% if Post.IsLike %}active{% endif %}" type="submit">
                    {% if Post.IsLike %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                </button>
                <span class="total-likes">{{ Post.TotalLikes }} J'aime</span>
            </form>

            <form action="/profile-{{ Post.IdUser }}" method="post">
                <input type="hidden" name="AddFavorite" value="1">
                <input type="hidden" name="IdPost" value="{{ Post.IdPost }}">
                <button class="favorite {% if Post.IsFavorites %}active{% endif %}" type="submit">
                    {% if Post.IsFavorites %}
                    <i class="fas fa-star"></i>
                    {% else %}
                    <i class="far fa-star"></i>
                    {% endif %}
                </button>
            </form>
            <p class="datePost">{{ Post.RelativeDatePost }}</p>
            <p class="viewsPost">{{ Post.Views }} Vues</p>
        </div>
        {% else %}
        <div class="interaction">
            <button class="heart" disabled>
                <i class="far fa-heart"></i>
            </button>
            <span class="total-likes3">{{ Post.TotalLikes }} J'aime</span>
            <button class="favorite" disabled>
                <i class="far fa-star"></i>
            </button>
            <p class="viewsPost">{{ Post.Views }} Vues</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="profilNotations"></div>


<!-- Modal de découpe d'image -->
<div id="cropperModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCropperModal()">&times;</span>
        <div class="crop-container">
            <img id="imageToCrop" src="" alt="Image to crop">
        </div>
        <div class="crop-buttons">
            <button onclick="setAspectRatio(1)">Carré (1:1)</button>
            <button onclick="cropImage()">Validation</button>
        </div>
    </div>
</div>


<div id="imageModal" class="image-modal">
    <span class="close-image-modal">&times;</span>
    <img class="image-modal-content" id="img01">
    <div id="caption"></div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
<script src="/../public/js/profilDesc.js"></script>
<script src="/../public/js/profilPromotion.js"></script>
<script src="/../public/js/modalImagePost.js"></script>
<script src="/../public/js/ImageCrop.js"></script>
<script src="/../public/js/showContent.js"></script>
<script src="/../public/js/profilPromotion.js"></script>
<script src="/../public/js/swipePicturePost.js"></script>
<script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>
{% endblock %}