{% extends "default.html.twig" %}

{% block title %}IFÀ | Home{% endblock %}

{% block stylesheet %}
<link href="/../public/css/home.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="title">
    <h1> L'éducation financière <br> accessible à tous</h1>
    <!--<img id="icon" src="/../public/image/home.css">-->
</div>
<div class="ProfilContainer">
    <h1>Découvrez des professionnel</h1>
    <div class="allProfil">
        {% for user in userProData %}
        <a href="profile-{{ user.IdUser }}">
            <div class="profil">
                <div class="profilPictureName">
                    <img id="icon" src="data:image;base64,{{user.ProfilPicture}}" alt="icon">
                    <h1>{{ user.FirstName }} {{ user.LastName }}</h1> <i id="certifIcon"
                        class="fas fa-check-circle"></i>
                </div>
                {# <div class="promotion">
                    <!--"acheter tes premières actions dans un monde en plein developpement et hyperactif dans la cryptographie "-->
                    {% set text = user.ProfilDescription %}
                    {% set truncatedText = text|length > 60 ? text|slice(0, 60) ~ '...' : text %}
                    {% set isTruncated = text|length > 60 %}
                    <p class="truncated-text" data-full-text="{{ text }}">Je peux t'aider à {{ truncatedText }}</p>
                    <div class="hover-text">Je peux t'aider à {{ text }}</div>
                </div> #}
            </div>
        </a>
        {% endfor %}
        <a href="/research" class="beautiful-button">Découvrir d'autres professionnels</a>
    </div>
</div>

<div class="postContainer">
    <h1>Posts populaires</h1>
    <div class="allPosts">
        {% for post in randomPosts %}
        <a href="postDetails-{{ post.IdPost }}">
            <div class="post">
                <div class="user-details">
                    <img id="icon" src="data:image;base64,{{ post.ProfilPicture }}" alt="icon">
                    {% if post.IsPro == 1 %}
                    <h1 class="name1">{{ post.FirstName }} {{ post.LastName }} </h1>
                    <i id="certifIcon" class="fas fa-check-circle"></i>
                    {% else %}
                    <h1 class="name2">{{ post.FirstName }} {{ post.LastName }} </h1>
                    {% endif %}
                </div>
                <p id="date">{{ post.RelativeDatePost }}</p>
                <p id="views">{{ post.Views }} vus</p>
                <div class="contentPost">
                    {% set text = post.TitlePost %}
                    {% set truncatedText = text|length > 32 ? text|slice(0, 32) ~ '...' : text %}
                    {% set isTruncated = text|length > 32 %}
                    <h2 class="truncated-text" data-full-text="{{ text }}">{{ truncatedText }}</h2>
                    <div class="hover-text">{{ text }}</div>


                    <!--
                    {% set truncatedDescription = post.ContentPost[:50] %}
                    <p>
                        {{ truncatedDescription }}
                        {% if post.ContentPost|length > 50 %}...{% endif %}
                    </p>-->


                </div>
            </div>
        </a>
        {% endfor %}
        <a href="/allPost" class="beautiful-button">Découvrir d'autres posts</a>
    </div>
</div>

<div class="adminContainer">
    <h1>admin du site</h1>
    <div class="allAdmin">
        {% for User in userAdmin %}
        <a href="profile-{{ User.IdUser }}">
            <div class="admin">
                <div class="user-details">
                    <img id="icon" src="data:image;base64,{{ User.ProfilPicture }}" alt="icon">
                    <h1 class="name1">{{ User.FirstName }} {{ User.LastName }} </h1>
                    {% if isConnected and userId != User.IdUser %}
                    <div class="message">
                        <form action="/" method="post">
                            <input type="hidden" name="idUser_1" value="{{ User.IdUser }}">
                            <button type="submit" name="conversation" id="messageButton">
                                <img id="icon2" src="/../public/image/messenger.png" alt="icon">
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                <p id="help">Je peut vous aider n'hésitez pas à me contacter</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% endblock %}